.main-container {

}

.container {
    max-width: 560px;
    width: 100%;
    margin: 45px auto 120px;
}

.from {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 42px;
}

.btn-container {
    margin-top: 25px;
}