.top-area {
    background-image: url("../../assets/images/homeTopImage.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 78px 10px;
}

.top-area > h1 {
    font-family: PoppinsBold, sans-serif;
    font-size: 48px;
    line-height: 68px;
    color: rgba(255, 255, 255, 1);
    max-inline-size: 843px;
    text-align: center;
}

/*#found {*/
/*    border-radius: 6px;*/
/*    background-color: #00A591;*/
/*    padding: 18px 102px;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.btn-dropdown {*/
/*    position: absolute;*/
/*    display: block;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    background: none;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*}*/