.main-container {
    height: 100%;
}

.top-area {
    background-image: url("./../../assets/images/aboutUsTopImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 42px 240px 60px 0;
}

.top-area > img {
    max-width: 640px;
    display: block;
    margin-left: auto;
}
.about-us-text {
    max-inline-size: 1550px;
    font-family: PoppinsRegular, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: rgba(100, 100, 100, 1);
    margin: 42px auto 200px;
    text-align: center;
}