

#start-project {
    font-family: PoppinsMedium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: fixed;
    right: 1%;
    top: 90%;
    border-radius: 6px;
    background: rgba(178, 65, 69, 1);
    padding: 15px 22px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.pagination-container {
    display: flex;
}

.top-img {
    width: 100%;
}
